.card {
    background: var(--rosa);
    border: 2px solid var(--preto);
    box-sizing: border-box;
    border-radius: 64px 64px 0px 0px;
    margin-top: -22px;
    padding: 80px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2em;
}

@media screen and (min-width: 1024px) {
    .card {
        margin-top: -32px;
    }
}